<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>index</title>
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand" data-am-popover="{content: '自动保存成功'}">Pluto Note</h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
          data-am-collapse="{target: '#menu-buttons'}">
    <span class="am-sr-only">导航切换</span>
    <span class="am-icon-bars"></span>
  </button>

  <div class="am-collapse am-topbar-collapse" id="menu-buttons">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="#notebooks-list" data-am-offcanvas>我的笔记本</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          文稿<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li><a id="addNote" href="#">新建</a></li>
          <li><a id="saveNote" href="#">保存</a></li>
          <li><a id="renameNote" href="#">重命名</a></li>
          <li><a id="deleteNote" href="#">删除</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          切换编辑器<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li class="am-active"><a href="#">富文本</a></li>
          <li><a href="#">Markdown</a></li>
        </ul>
      </li>
      <li><a href="#records-list" data-am-offcanvas>历史记录</a></li>
    </ul>

    <div class="am-topbar-left">
      <div class="am-dropdown" data-am-dropdown="{boundary: 'h1'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                data-am-dropdown-toggle>笔记列表<span class="am-icon-caret-down"></span></button>
        <ul id="notes-list" class="am-dropdown-content">
          {{#notes}}
            <li data-noteid="{{noteId}}"><a href="#">{{header}}</a></li>
          {{/notes}}
        </ul>
      </div>
    </div>

    <!--用于JS渲染的模板副本 #notes-list-->
    <script id="notes-list-tpl" type="text/x-handlebars-template">
      <%#notes%>
      <li data-noteid="<%noteId%>"><a href="#"><%header%></a></li>
      <%/notes%>
    </script>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                data-am-dropdown-toggle>{{username}}</button>
        <ul class="am-dropdown-content">
          <li><a href="/logout">注销</a></li>
        </ul>
      </div>
    </div>

  </div>

</header>

<textarea id="editor">{{{defaultContent}}}</textarea>

<div id="notebooks-list" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <button id="addNoteBook" class="am-btn am-btn-success">新建</button>
      <button id="renameNoteBook" class="am-btn am-btn-warning">重命名</button>
      <button id="deleteNoteBook" class="am-btn am-btn-danger">删除</button>
      <ul id="notebookNames-list" class="am-list am-list-border">
        {{#notebooks}}
          <li>
            <a href="#" class="am-text-truncate">
              <i class="am-icon-book am-icon-fw"></i>
              {{notebookName}}
              <button type="button" class="am-btn am-btn-xs am-btn-default am-round hidden"
                      data-notebookId="{{notebookId}}"></button>
            </a>
          </li>
        {{/notebooks}}
      </ul>
      <!--用于JS渲染的模板副本 #notebookNames-list-->
      <script id="notebookNames-list-tpl" type="text/x-handlebars-template">
        <%#notebooks%>
        <li>
          <a href="#" class="am-text-truncate">
            <i class="am-icon-book am-icon-fw"></i>
            <%notebookName%>
            <button type="button" class="am-btn am-btn-xs am-btn-default am-round hidden"
                    data-notebookId="<%notebookId%>"></button>
          </a>
        </li>
        <%/notebooks%>
      </script>

    </div>
  </div>
</div>

<div id="records-list" class="am-offcanvas">
  <div class="am-offcanvas-bar am-offcanvas-bar-flip">
    <div class="am-offcanvas-content">
      <h2>{{defaultHeader}}</h2>

      <ul id="recordsName-list" class="am-list am-list-border">
        {{#records}}
          <li>
            <a href="#" class="am-text-truncate">
              <i class="am-icon-book am-icon-fw"></i>
              {{saveTime}}
              <button type="button" class="am-btn am-btn-xs am-btn-default am-round"
                      data-recordId="{{recordId}}">删除
              </button>
            </a>
          </li>
        {{/records}}
      </ul>
      <!--用于JS渲染的模板副本 #recordsName-list-->
      <script id="recordsName-list-tpl" type="text/x-handlebars-template">
        <%#records%>
        <li>
          <a href="#" class="am-text-truncate">
            <i class="am-icon-book am-icon-fw"></i>
            <%saveTime%>
            <button type="button" class="am-btn am-btn-xs am-btn-default am-round"
                    data-recordId="<%recordId%>">删除
            </button>
          </a>
        </li>
        <%/records%>
      </script>

    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="message-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-footer">
      <span class="am-modal-btn data-am-modal-cancel">确定</span>
    </div>
  </div>
</div>

<!--hack 此处代码原则上可以复用，但是尝试复用时会出现奇怪的BUG，所以分开四个modal组件使用-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="add-notebook-prompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">请输入新笔记本名</div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="rename-notebook-prompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">重命名笔记本</div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="add-note-prompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">添加新的文稿</div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="rename-note-prompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">为当前文稿输入新名字</div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<script src="/build/commons.bundle.js"></script>
<script src="/build/index.bundle.js"></script>
<!--<script src="../../../client/build/commons.bundle.js"></script>-->
<!--<script src="../../../client/build/index.bundle.js"></script>-->
<!--<script src="/indexPage/js/jquery.min.js"></script>-->

</body>
</html>
