<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>index</title>
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="#">Pluto Note</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
          data-am-collapse="{target: '#menu-buttons'}">
    <span class="am-sr-only">导航切换</span>
    <span class="am-icon-bars"></span>
  </button>

  <div class="am-collapse am-topbar-collapse" id="menu-buttons">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="#notebooks-list" data-am-offcanvas>我的笔记本</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          文稿<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li><a href="#">重命名</a></li>
          <li><a href="#">删除文稿</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          切换编辑器<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li class="am-active"><a href="#">富文本</a></li>
          <li><a href="#">Markdown</a></li>
        </ul>
      </li>
    </ul>

    {{! todo 这里渲染本笔记本的所有笔记,标题前加上Tags }}
    <select class="am-topbar-left" data-am-selected="{searchBox:1,btnWidth: '30%',btnSize:'sm',btnStyle:'success'}">
      {{#notes}}
        <optgroup label="{{tags}}"><!--这里是tags-->
          {{#notes.data}}
            <option value="{{noteId}}">{{noteName}}</option>
          {{/notes.data}}
        </optgroup>
      {{/notes}}
    </select>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                data-am-dropdown-toggle>{{userId}}<span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="/logout">注销</a></li>
        </ul>
      </div>
    </div>

  </div>

</header>

<div id="editor"></div>

<div id="notebooks-list" class="am-offcanvas">
  <div class="am-offcanvas-bar am-offcanvas-bar-flip">
    <div class="am-offcanvas-content">
      <button id="addNoteBook" class="am-btn am-btn-success">新建</button>
      <button id="renameNoteBook" class="am-btn am-btn-warning">重命名</button>
      <button id="deleteNoteBook" class="am-btn am-btn-danger">删除</button>
      <ul id="notebooksName-list" class="am-list am-list-border">
        {{#notebooks}}
          <li>
            <a href="#" class="am-text-truncate" data-notebookName="{{name}}">
              <i class="am-icon-book am-icon-fw"></i>
              {{name}}
              <button type="button" class="am-btn am-btn-xs am-btn-default am-round">
                {操作}
              </button>
            </a>
          </li>
        {{/notebooks}}
      </ul>
      <!--用于JS渲染的模板副本 #notebooksName-list-->
      <!--hack 因为前后端的都会使用handlebars,所以后端会先于前端渲染script标签的内容,导致script内渲染不出结果.此处使用尖括号,在js中使用正则替换成正确的handlebars语法-->
      <script id="notebooksName-list-tpl" type="text/x-handlebars-template">
        <%#data%>
        <li>
          <a href="#" class="am-text-truncate" data-notebookName="<%notebookName%>">
            <i class="am-icon-book am-icon-fw"></i>
            <%notebookName%>
            <button type="button" class="am-btn am-btn-xs am-btn-default am-round">
              {操作}
            </button>
          </a>
        </li>
        <%/data%>
      </script>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="newNoteBookPrompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">输入一个新笔记本名字</div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="message-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-footer">
      <span class="am-modal-btn data-am-modal-cancel">确定</span>
    </div>
  </div>
</div>

<script src="/build/commons.bundle.js"></script>
<script src="/build/index.bundle.js"></script>
<!--<script src="../../../client/build/commons.bundle.js"></script>-->
<!--<script src="../../../client/build/index.bundle.js"></script>-->


</body>
</html>
