<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>index</title>
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="#">Pluto Note</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
          data-am-collapse="{target: '#menu-buttons'}">
    <span class="am-sr-only">导航切换</span>
    <span class="am-icon-bars"></span>
  </button>

  <div class="am-collapse am-topbar-collapse" id="menu-buttons">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="#notebooks-list" data-am-offcanvas>我的笔记本</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          文稿<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li><a id="addNote" href="#">新建</a></li>
          <li><a id="saveNote" href="#">保存</a></li>
          <li><a id="renameNote" href="#">重命名</a></li>
          <li><a id="deleteNote" href="#">删除</a></li>
        </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          切换编辑器<span class="am-icon-caret-down"></span></a>
        <ul class="am-dropdown-content">
          <li class="am-active"><a href="#">富文本</a></li>
          <li><a href="#">Markdown</a></li>
        </ul>
      </li>
    </ul>

    <div class="am-topbar-left">
      <div class="am-dropdown" data-am-dropdown="{boundary: 'h1'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                data-am-dropdown-toggle>笔记列表<span class="am-icon-caret-down"></span></button>
        <ul id="notes-list" class="am-dropdown-content">
          {{#notes}}
            <li data-noteid="{{noteId}}"><a href="#"><span class="note-tags">#{{tags}}&nbsp;</span>{{header}}</a></li>
          {{/notes}}
        </ul>
      </div>
    </div>

    <!--用于JS渲染的模板副本 #notes-list-->
    <script id="one-note-of-list-tpl" type="text/x-handlebars-template">
      <li data-noteid="<%noteId%>"><a href="#"><span class="note-tags">#<%tags%>&nbsp;</span><%header%></a></li>
    </script>

    <script id="notes-list-tpl" type="text/x-handlebars-template">
      <%#list%>
        <li data-noteid="<%noteId%>"><a href="#"><span class="note-tags">#<%tags%>&nbsp;</span><%header%></a></li>
      <%/list%>
    </script>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle"
                data-am-dropdown-toggle>{{username}}<span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="/logout">注销</a></li>
        </ul>
      </div>
    </div>

  </div>

</header>

<div id="editor">{{{first_note_content}}}</div>

<div id="notebooks-list" class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <button id="addNoteBook" class="am-btn am-btn-success">新建</button>
      <button id="renameNoteBook" class="am-btn am-btn-warning">重命名</button>
      <button id="deleteNoteBook" class="am-btn am-btn-danger">删除</button>
      <ul id="notebooksName-list" class="am-list am-list-border">
        {{#notebooks}}
          <li>
            <a href="#" class="am-text-truncate" data-currentNotebookId="{{notebookId}}">
              <i class="am-icon-book am-icon-fw"></i>
              {{notebookName}}
              <button type="button" class="am-btn am-btn-xs am-btn-default am-round hidden"></button>
            </a>
          </li>
        {{/notebooks}}
      </ul>
      <!--用于JS渲染的模板副本 #notebooksName-list-->
      <!--hack 因为前后端的都会使用handlebars,所以后端会先于前端渲染script标签的内容,导致script内渲染不出结果.此处使用尖括号,在js中使用正则替换成正确的handlebars语法-->
      <script id="notebooksName-list-tpl" type="text/x-handlebars-template">
        <%#data%>
        <li>
          <a href="#" class="am-text-truncate" data-currentNotebookId="<%notebookId%>">
            <i class="am-icon-book am-icon-fw"></i>
            <%notebookName%>
            <button type="button" class="am-btn am-btn-xs am-btn-default am-round">
              {操作}
            </button>
          </a>
        </li>
        <%/data%>
      </script>
    </div>
  </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="newDataPrompt">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-bd">
      <input type="text" class="am-modal-prompt-input">
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="message-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-footer">
      <span class="am-modal-btn data-am-modal-cancel">确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="alert-msg">
  <div class="am-modal-dialog">
    <div class="am-modal-hd"></div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<script src="/build/commons.bundle.js"></script>
<script src="/build/index.bundle.js"></script>
<!--<script src="../../../client/build/commons.bundle.js"></script>-->
<!--<script src="../../../client/build/index.bundle.js"></script>-->
<!--<script src="/indexPage/js/jquery.min.js"></script>-->

</body>
</html>
